<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/style.css') }}">


  <title>{{Question}}</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>{{Question}}</h1>
	<p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">
	In here Answer the top 10 Most relevent Papers to your question </p>

  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">

	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Top 10 papers ordered by cosin similiarties</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title1}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity1}}</p>

            <p> {{article1}}</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title2}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity2}}</p>

            <p> {{article2}}</p>          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title3}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity3}}</p>

            <p> {{article3}}</p>               </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title4}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity4}}</p>

            <p> {{article4}}</p>               </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title5}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity5}}</p>

            <p> {{article5}}</p>               </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title6}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity6}}</p>

            <p> {{article6}}</p>                    </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title7}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity7}}</p>

            <p> {{article7}}</p>                    </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title8}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity8}}</p>

            <p> {{article8}}</p>                    </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title9}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity9}}</p>

            <p> {{article9}}</p>                  </div>
				</div> <!-- cd-faq__content -->
			</li>
			
						<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>{{title10}}</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> the Similiarity is {{similiarity10}}</p>

            <p> {{article10}}</p>                  </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			
				
			
		</ul> <!-- cd-faq__group -->
		
		


	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script type = "text/javascript" src = "{{ url_for('static', filename = 'assets/js/util.js') }}" ></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'assets/js/main.js') }}" ></script>


</body>
</html>