<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/style.css') }}">


  <title>FAQs</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>FAQs Centre</h1>
	<p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">
	In here, We Answer the core 9 Questions of the Kaggle Competition Providing the most relevent papers related to them. </p>

  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">

	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Frequently Asked Covid-19 Questions</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What is known about transmission, incubation, and environmental stability?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
		    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title1}}</p>

            <p> {{article1}}</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What do we know about COVID-19 risk factors?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
 <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title2}}</p>

            <p> {{article2}}</p>          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What do we know about virus genetics, origin, and evolution?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
 <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title3}}</p>

            <p> {{article3}}</p>               </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What do we know about non-pharmaceutical interventions?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
 <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title4}}</p>

            <p> {{article4}}</p>               </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What do we know about vaccines and therapeutics?'</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
 <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title5}}</p>

            <p> {{article5}}</p>               </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What has been published about ethical and social science considerations?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
 <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title6}}</p>

            <p> {{article6}}</p>                    </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What do we know about diagnostics and surveillance?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
 <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title7}}</p>

            <p> {{article7}}</p>                    </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What has been published about medical care?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
 <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title8}}</p>

            <p> {{article8}}</p>                    </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What has been published about information sharing and inter-sectoral collaboration?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
 <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;"> {{title9}}</p>

            <p> {{article9}}</p>                  </div>
				</div> <!-- cd-faq__content -->
			</li>
			
		</ul> <!-- cd-faq__group -->
		
		


	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script type = "text/javascript" src = "{{ url_for('static', filename = 'assets/js/util.js') }}" ></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'assets/js/main.js') }}" ></script>


</body>
</html>